<v-card>
  <v-card-title>
    <v-card-title primary-title>
      <h2>Customers</h2>
    </v-card-title>
  </v-card-title>
  <v-card-actions>
    <v-btn primary href="<%= new_customer_path %>">Create Customer</v-btn>
  </v-card-actions>
  <v-card-text>
    <v-layout row>
      <v-flex xs12>
        <p>table goes here</p>
      </v-flex>
    </v-layout>

  </v-card-text>
</v-card>
