<v-card>
  <v-card-title>
    <v-card-title primary-title>
      <h2>Customers</h2>
    </v-card-title>
  </v-card-title>
  <v-card-actions>
    <v-btn primary href="<%= new_customer_path %>">Create Customer</v-btn>
  </v-card-actions>
</v-card>

<v-layout row mt-2>
  <v-flex xs12 sm6 offset-sm3>
    <v-card>
      <v-toolbar dark>
        <v-toolbar-title>Customers</v-toolbar-title>
      </v-toolbar>
      <v-list two-line>
        <% @customers.each do |customer| %>
            <customer-index :customerinput="<%= customer.to_json %>" :projects="<%= customer.projects.count %>"></customer-index>
        <% end %>
      </v-list>
    </v-card>
  </v-flex>
</v-layout>



