<v-card>
  <v-card-text>
    <v-container>
      <h2>New Customer</h2>
      <%= form_for(Customer.new) do |f| %>
      <% end %>
      <customer-new></customer-new>
    </v-container>
  </v-card-text>
</v-card>