<v-card>
  <v-card-title primary-title>
    <h2>Projects</h2>
  </v-card-title>
  <v-card-actions>
    <v-btn primary href="<%= new_project_path %>">Create Project</v-btn>
  </v-card-actions>
</v-card>