<v-card>
  <v-card-title>
    <h2>New Project</h2>
  </v-card-title>
  <v-card-text>
    <%= form_for(Project.new) do |f| %>
    <% end %>
    <project-new customerlist="<%= @customers.to_json(only: [:id, :name]) %>"
                 consultantlist="<%= @consultants.to_json(only: [:id, :name]) %>"></project-new>
  </v-card-text>
</v-card>