<v-card>
  <v-card-text>
    <v-container>
      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <% end %>
      <user-signin></user-signin>
      <%= render "devise/shared/links" %>
    </v-container>
  </v-card-text>
</v-card>
